.booking-form{
    background:white;
    color:black;
    text-align:left;
    border-radius:10px
}

.form-group input{
    margin-bottom:10px;
    border-radius:5px;
    border:1px solid lightgray;
    outline:none;
    height:30px;
    
}
.form-group input:focus{
    border:1px solid orange;
}
.form-group input[type]{
    
}
.form-group label{
    margin-bottom:5px;
    color:grey;
    font-weight:500;
    font-size:13px;
}